
/* Global styles use 22*/

* {
    padding: 0;
    margin: 0;
    outline: none!important;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

.fl-r {float: right;}
.fl-l { float: left;}
.hide { display: black; }

/*************************************/

body {
  background:url(../img/back.jpg);
  animation: chbg 50s infinite alternate;
  background-size:cover;
    background-repeat: no-repeat;
  color:white;
}
@keyframes chbg {
  0% {
   background:url(../img/back1.jpg);
  background-size:cover;
      background-repeat: no-repeat;
  }
  20% {
    background:url(../img/back2.jpg);
  background-size:cover;
    background-repeat: no-repeat;       
        

  }
  40% {
    background:url(../img/back3.jpg);
  background-size:cover;
       background-repeat: no-repeat;
  }
  60% {
    background:url(../img/back4.jpg);
  background-size:cover
  }
  80% {
    background:url(../img/back5.jpg);
  background-size:cover;
       background-repeat: no-repeat;
  }
  100% {
    background:url(../img/back6.jpg);
  background-size:cover;
       background-repeat: no-repeat;
  }
}


#menu{
	margin-left: 62px;
    padding: 0;
    list-style-type: none;
}
#menu li {
     margin: 0;
    padding: 0;
    float: left;
    padding-right: 10px;
}
#menu li  a  {
	cursor: pointer;
	
}
#menu li a img{
  
height: 50px;
width: 50px;
}
#menu li a img:hover{
	    padding-top: 16px;
    height: 123px;
    width: 110px;
}

/* start Desktop styles */

.desktop > span:hover {
    background: rgba(0,0,0,0.2);
    border: 1px solid #fff;
}
/* End Desktop styles */

/* start footer styles */
/* startMenu styles */
.startMenu {
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(2, 2, 2, 0.33);
    bottom: 40px;
    border: 4px solid #456;
    position: absolute;
    z-index: 12;
	display:none ;
}
.startMenu  input[type="search"] {
    height: 27px;
    font-size: 16px;
    position: absolute;
    margin-left: 1px;
    bottom: 2px;
    width: 100%;
    border-radius: 7px;
    font-family: fontAwesome , Arial;
    padding: 3px;
}
#footer{
 position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 40px;
  font-family: Arial;
  -webkit-text-shadow: 1px 1px 1px black;
  -moz-text-shadow: 1px 1px 1px black;
  -ms-text-shadow: 1px 1px 1px black;
  -o-text-shadow: 1px 1px 1px black;
  text-shadow: 1px 1px 1px black;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  background: radial-gradient(#333, #000);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 255, 0.3);
}


#footer span .fa { font-size: 24px; display: inline-block;margin: 10px}
/*footer .fa:hover { cursor: pointer;}*/
#start {border-right: 1px solid #080;margin: 0px 11px !important;}
.fa-windows {color: #8686f7;}

span select.lang {
    display: inline-block;
    margin: 10;
    font-size: 19px;
    background: transparent;
    color: #79b5b5;
}


#date {
    float: right;
    height: 100%;
    font-size: 14px;
    padding: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #8686f7;
    text-align: center;
    cursor: default;
}
/* End footer styles */


#mp3{
    height: 10em;
    width: 21em;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 40%;
    margin-top: 8%;
    border-radius: 12px;
    display: none;
    border:2px solid #eee;
}
.close{
	cursor:pointer;
}
.file{
	    margin-left: 30px;
    margin-top: 30px;
}
.header{
	
	    height: 50px;
    width: 100%;
    background-color: rgba(255, 7, 7, 0.02);
 
}
#hidebar{
  margin-top: 2px;
  background: linear-gradient(rgb(255 254 254 / 57%), #b5b5af);
  width: 41em;
  height: 48px;
  margin-left: 21%;
  transition: 0.4s;
	display: none;
}
#sound{
    margin-left: 1em;
    height: 20px;
    width: 19em;
    padding-top: 56px;
}
#msc{
    margin-left: 69em;
    color: white;
    cursor: pointer;
}

.calendar {
    position: absolute;
    bottom: 40px;
    right: 0;
    z-index: 2;
    opacity: 0;
}
.calendar input[type='date'] {
    height: 40px;
    font-size: 44px;
    position: absolute;
    bottom: -40px;
    right: 224px;
    width: 41px;
    padding-right: 74px;

}
.fa-windows {
    color: #8686f7;
    font-size: 24px;
}

#battery {
    position: relative;
    top: 20px;
    left: 84%;
    margin: -11px -130px;
    width: 50px;
    border: 2px solid white;
    border-radius: 7px;
    height: 24px;
}
#battery-level.low {
			background-color: #e53d3d;
		}
#battery-level.plugged {
			background-image: url(img/plugged.png)no-repeat center white;
			
		}
#battery-level.charging,
#battery-level.plugged {
			width: 100% !important;
			background: url(../img/charging.png) no-repeat center white;
			-moz-transition: none;
			-webkit-transition: none;
			transition: none;
		}
#battery-level {
     /* color: #111; */
    font-size: 53px;
    width: 1px;
    height: 20px;
    background-color: white;
    border-radius: 1px;
    -moz-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
#battery-knob {
    position: absolute;
    left: 46px;
    top: 80%;
    margin-top: -15px;
    height: 17px;
    width: 5px;
    border: 3px solid white;
    border-radius: 7px;
    margin-left: 0px;
}

